@import "./reset.scss";
@import "./variables.scss";
@import "./responsive.scss";

body {
  background-color: var(--dark-text);
  min-height: 100dvh;
}

button {
  &:hover {
    cursor: pointer;
  }
}
